# Dependencies
node_modules/

# Generated JavaScript
*.js

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/

# IDE - Sublime
*.sublime-project
*.sublime-workspace

# IDE - Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Logs
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
